.players{
    width: 250px;
    height: 30px;
    margin: 5px;
}
.Button{
    display:inline-flex;
    text-align: center;
    padding-top: 20px;
    justify-content: center;
    border: 1px solid black;
    text-decoration: none;
    background-color:grey;
    border-radius: 12px;

    width: 100px;
    height: 50px;
}
